*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #dadada;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#card{
    height: 400px;
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
#full-scr{
    height: 100%;
    width: 100%;
    position: absolute;
    /* background-color: red; */
    display: none;
    background-size: cover;
    padding-top: 20px;
    background-position: center;

}

#progress{
    height: 5px;
    width: 100%;
    background-color: #525151;
}

#growth {
    height: 100%;
    width: 50%;
    border-radius: 30px;
    background-color: #fff;
}
#storiyia {
    height: 60px;
    width: 100%;
    border-bottom: 2px solid #414141;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#storiyia::-webkit-scrollbar{
    display: none;
}
.story {
    display: inline-block;
    margin: 5px 0 5px 10px;
    height: 50px;
    width: 50px;
    border: 2px solid red;
    border-radius: 50%;
    overflow: hidden;
}

.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}